server {
	listen 80;
	server_name frontend.com;

	location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

	location /api {
        client_max_body_size 10M;
	    
		proxy_pass http://backend.com:8080/api/;
	}
	
	location /api/unlimited {
        client_max_body_size 200M;
	    
		proxy_pass http://backend.com:8080/api/;
	}
}